[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
mypy = "*"
flake8 = "*"
behave = "*"
pytest = "*"
pytest-hammertime = "*"
flake8-import-order = "*"
flake8-per-file-ignores = "*"
responses = "*"
faaspact-verifier = "*"

[packages]
requests = "*"
iana-tz-coord = ">=1.0.3"
sentry-sdk = "*"
aws-xray-sdk = "*"

[requires]
python_version = "3.7"

[scripts]
check = "sh -c 'mypy sunlight/ && flake8 && pytest -q && behave --format progress'"
